name: Build and deploy ASP.Net Core app to Azure Web App - task-management2

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore
        run: dotnet restore Api/Api.csproj

      - name: Build
        run: dotnet build Api/Api.csproj -c Release --no-restore

      - name: Publish
        run: dotnet publish Api/Api.csproj -c Release -o publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-publish
          path: publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: api-publish
          path: publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_153638EE98924365B667E1C7C4773186 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_AFFCA339A8CE4E0392F6E8474A865252 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_00F8BF2C0DB74CD195DAA81526E33102 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: task-management2
          slot-name: Production
          package: publish

